@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

//? Colors
$blue: #017cc2;
$alt-blue: #1e8fe2;
$black: #2f3638;
$light-gray: #869093;
$gray: #efefef;
$yellow: #f7a12f;
$red: #ef4d61;
$green: #12c1b0;
$purple: #8e44ad;

//? Font
//$theme-font: 'Gotham', sans-serif;
$theme-font: 'Mukta', sans-serif;
